{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="mt-3 container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card shadow-sm w-100" style="max-width: 500px;">
            <div class="card-header text-center text-warning" style="background-color: #d20a10;">
                <h4>Iniciar Sesion</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger text-warning btn-lg">Ingresar</button>
                    <a class="btn btn-danger text-warning btn-lg" href="{% url 'registro' %}">Crear Usuario</a>
                </form>
            </div>
        </div>
    </div>


</body>
</div>

</html>